body{
	background-color: #fff;
	  background-image: url(../images/background1.jpg);
	  height: 100vh;

	background-size: cover;
	background-position: center;

}
.top{
	width: 90%;
	position: fixed;
	top:2%;
	right: 10%;
	left: 2%;
	

}
.top-nav{
	list-style: none;
	float: right;

}
.logo img{
	float: left;
	margin-top: 10px;
}
.top-nav li{
	display: inline-block;
}
.top-nav li a{
	color: #fff;
	text-decoration: none;
	font-family: "Roboto", sans-serif;
	font-weight: bolder;
	padding: 10px;
}
.background-image{
	
	position: relative;
	top: 10%;
	left: 2%;
}
.heading{
	
	width: 1200px;
}	
h1{
	color: #fff;
	font-family: "Roboto",sans-serif;
	font-size: 120px;
	text-align: center;
	position: absolute;
	top: 30%;
	right: 40%;

	

}